* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: #4CB1E4;
}

.header {
  width: 100%;
  background-color: #FFFFFF;
}

.header-container {
  max-width: 912px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h3 {
  font-size: 30px;
  background: linear-gradient(#7CC0EA, #062179);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bista-menu {
  display: flex;
  align-items: center;
  gap: 32px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.bista-menu-item:hover {
  cursor: pointer;
  color: #4CB1E4;
}

.bista-hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #272466;
}

.banner {
    width: 100%;
    background-image: url(../banner-img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(20%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-details {
    padding: 120px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

@media (min-width:768px) and (max-width:991px) {
  .header-container {
    padding: 25px 40px;
  }
}

@media (max-width:767px) {
  .header-container {
    padding: 25px 25px;
  }

  .logo h3 {
    font-size: 22px;
  }
}

@media (max-width:991px) {
  .bista-hamburger {
    display: block;
  }

  .bista-hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .bista-hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .bista-hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .bista-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    gap: 0;
    width: 100%;
    background-color: #272466;
    color: #FFFFFF;
    text-align: center;
    transition: 0.3s;
  }

  .bista-menu-item {
    margin: 16px 0;
  }

  .bista-menu.active {
    left: 0;
  }
}

@media (min-width:992px) {
  .header-container {
    max-width: 912px;
  }
}
  
@media (min-width:1280px) {
  .header-container {
    max-width: 1100px;
  }
}
  
@media (min-width:1366px) {
  .header-container {
    max-width: 1174px;
  }
}
  
@media (min-width:1440px) {
  .header-container {
    max-width: 1250px;
  }
}
  
@media (min-width:1600px) {
  .header-container {
    max-width: 1375px;
  }
}
  
@media (min-width:1920px) {
  .header-container {
    max-width: 1650px;
  }
}